scripts/.nextflow.log
scripts/.nextflow.log.1
scripts/.nextflow.log.2
scripts/.nextflow.log.3
scripts/.nextflow.log.4
scripts/.nextflow.log.5
scripts/.nextflow.log.6
scripts/.nextflow.log.7
scripts/.nextflow.log.8
scripts/.nextflow.log.9
scripts/results/.nextflow.log.1
scripts/results/.nextflow.log
scripts/test-2.nf
scripts/sample.1.txt.tsv.txt
.gitignore
scripts/sample1.txt
scripts/bin/sample.1.txt.tsv
.gitignore
scripts/sample.1.txt.tsv
scripts/Cocaine_esterases_Hits_sample.1.txt.tsv.tsv
scripts/Feruloyl_esterases_Hits_sample.1.txt.tsv.tsv
scripts/Nattokinases_Hits_sample.1.txt.tsv.tsv
scripts/Petases_Pet_hydrolases_sample.1.txt.tsv.tsv
scripts/bin/output1.tsv
report-20230928-65964464.html
timeline-20230928-65964464.html
trace-20230928-65964464.txt
.nextflow.log
/home/nikoverg/Documents/bioinformatics/projects/Thesis/reports
/home/nikoverg/Documents/bioinformatics/projects/Thesis/results
reports/report-20231008-42915763.html
reports/timeline-20231008-42915763.html
results/Fisherman_Results/Uniparc_Results_p200/.chunks.uniparc_active_p200.fasta
results/Fisherman_Results/Uniparc_Results_p200/Cocaine_esterases_Hits_uniparc_active_p200.1.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Cocaine_esterases_Hits_uniparc_active_p200.2.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Cocaine_esterases_Hits_uniparc_active_p200.3.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Cocaine_esterases_Hits_uniparc_active_p200.4.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Cocaine_esterases_Hits_uniparc_active_p200.5.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Cocaine_esterases_Hits_uniparc_active_p200.6.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Cocaine_esterases_Hits_uniparc_active_p200.7.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Cocaine_esterases_Hits_uniparc_active_p200.8.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Cocaine_esterases_Hits_uniparc_active_p200.9.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Cocaine_esterases_Hits_uniparc_active_p200.10.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Cocaine_esterases_Hits_uniparc_active_p200.11.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Cocaine_esterases_Hits_uniparc_active_p200.12.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Cocaine_esterases_Hits_uniparc_active_p200.13.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Cocaine_esterases_Hits_uniparc_active_p200.14.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Cocaine_esterases_Hits_uniparc_active_p200.15.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Feruloyl_esterases_Hits_uniparc_active_p200.1.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Feruloyl_esterases_Hits_uniparc_active_p200.2.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Feruloyl_esterases_Hits_uniparc_active_p200.3.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Feruloyl_esterases_Hits_uniparc_active_p200.4.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Feruloyl_esterases_Hits_uniparc_active_p200.5.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Feruloyl_esterases_Hits_uniparc_active_p200.6.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Feruloyl_esterases_Hits_uniparc_active_p200.7.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Feruloyl_esterases_Hits_uniparc_active_p200.8.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Feruloyl_esterases_Hits_uniparc_active_p200.9.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Feruloyl_esterases_Hits_uniparc_active_p200.10.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Feruloyl_esterases_Hits_uniparc_active_p200.11.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Feruloyl_esterases_Hits_uniparc_active_p200.12.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Feruloyl_esterases_Hits_uniparc_active_p200.13.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Feruloyl_esterases_Hits_uniparc_active_p200.14.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Feruloyl_esterases_Hits_uniparc_active_p200.15.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Nattokinases_Hits_uniparc_active_p200.1.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Nattokinases_Hits_uniparc_active_p200.2.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Nattokinases_Hits_uniparc_active_p200.3.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Nattokinases_Hits_uniparc_active_p200.4.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Nattokinases_Hits_uniparc_active_p200.5.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Nattokinases_Hits_uniparc_active_p200.6.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Nattokinases_Hits_uniparc_active_p200.7.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Nattokinases_Hits_uniparc_active_p200.8.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Nattokinases_Hits_uniparc_active_p200.9.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Nattokinases_Hits_uniparc_active_p200.10.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Nattokinases_Hits_uniparc_active_p200.11.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Nattokinases_Hits_uniparc_active_p200.12.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Nattokinases_Hits_uniparc_active_p200.13.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Nattokinases_Hits_uniparc_active_p200.14.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Nattokinases_Hits_uniparc_active_p200.15.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Petases_Pet_hydrolases_uniparc_active_p200.1.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Petases_Pet_hydrolases_uniparc_active_p200.2.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Petases_Pet_hydrolases_uniparc_active_p200.3.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Petases_Pet_hydrolases_uniparc_active_p200.4.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Petases_Pet_hydrolases_uniparc_active_p200.5.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Petases_Pet_hydrolases_uniparc_active_p200.6.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Petases_Pet_hydrolases_uniparc_active_p200.7.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Petases_Pet_hydrolases_uniparc_active_p200.8.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Petases_Pet_hydrolases_uniparc_active_p200.9.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Petases_Pet_hydrolases_uniparc_active_p200.10.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Petases_Pet_hydrolases_uniparc_active_p200.11.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Petases_Pet_hydrolases_uniparc_active_p200.12.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Petases_Pet_hydrolases_uniparc_active_p200.13.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Petases_Pet_hydrolases_uniparc_active_p200.14.fasta.tsv.tsv
results/Fisherman_Results/Uniparc_Results_p200/Petases_Pet_hydrolases_uniparc_active_p200.15.fasta.tsv.tsv
