scripts/.nextflow.log
scripts/.nextflow.log.1
scripts/.nextflow.log.2
scripts/.nextflow.log.3
scripts/.nextflow.log.4
scripts/.nextflow.log.5
scripts/.nextflow.log.6
scripts/.nextflow.log.7
scripts/.nextflow.log.8
scripts/.nextflow.log.9
scripts/results/.nextflow.log.1
scripts/results/.nextflow.log
