params.fasta_folder = "../MetaSA-scan/path/to/fasta"
params.hmmlib       = "../MetaSA-scan/bin/library.hmm"
params.outdir       = "$projectDir/results"
params.ips_dir      = "..MetaSA-scan/bin/interproscan-5.63-95.0"

process {
    withName: IPS {
        cpus = 4
        memory = 8.GB
    }
    withName: HMMSEARCH_LOOP {
        cpus = 4
    }
}
